html, body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    size-adjust: 90%;
    align-items: center;
    align-self: center;
}

#colorInput {
    size: 10%;
    border: 1px solid black;
    outline: none;
}

#DescInput{
    width: 80%;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 100%;
    vertical-align: middle;
    resize: none;
}

#NameInput , #TimeInput{
    width: 35%;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 100%;
    vertical-align: middle;
}


#addToDo {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 100%;
}

.paragraph-styling {
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: beige;
}

.to-dos {
    margin-top: 25px;
}