html, body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 360px;
}

#NameInput , #TimeInput{
    width: 40%;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 100%;
    vertical-align: middle;
}


#addToDo {
    width: 15%;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 100%;
}

.paragraph-styling {
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: beige;
}

.to-dos {
    margin-top: 25px;
}