<!Doctype html>
<html lang="en">
<head>
    <!--Title-->
    <title>Focusing | To Do List</title>

    <!--Styles-->
    <link rel="stylesheet" href='/static/css/main.css'>
    <link rel='icon' href='/static/img/icon_16.png' type = 'image/png'/>

    <!--Base-->
    <base href="/" target="_blank">

    <!--Meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Focusing Keywords">
    <meta name="author" content="Focusing DevTeam">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Focusing desc">
    <meta name="application-name" content="Focusing">

    <!--PWA Settings-->
    <meta name="theme-color" content="#A7A7A7">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="shortcut icon" type="image/png" href='/static/img/icon_144.png'>
    <link rel="apple-touch-icon" href='/static/img/icon_144.png'>
    <link rel="apple-touch-startup-image" href='/static/img/icon_144.png'>

    <link rel="manifest" href="/static/manifest.json">

</head>
<body>
    <h1>To Do List</h1>
    <h5>One click for complete and Double click for delete</h5>
    <p id="VersionLabel">v0.0.0</p>
    <p id="Tiempo"></p>

    <button id="ResetButton">reset</button>

    <div class="container">
        <form autocomplete="on" name="TaskForm">
        <input id="NameInput" type="text" name="taskname" placeholder="Task name" required>
        <input id="TimeInput" type="datetime-local" name="taskdate" required>
        <input id="ColorInput" type="color" name="taskcolor" value="#FFFFFF">
        <br>
        <textarea id="DescInput" type="tel" placeholder="Task Description"></textarea>
        <br>
        <input id="addToDo" type="submit" name="submit" value="[+] add">
        </form>
        <div class="to-dos" id="toDoContainer">
        </div>
    </div>  
    
    <footer>Focusing Team @ 2021</footer>
    <!--Scripts-->
    
    <script src='/static/js/sw.js'></script>
    <script src='/static/js/main.js'></script>

    <noscript>Your browser does not support JavaScript!</noscript>
</body>
</html>